# Supabase bağlantı bilgileri
# Supabase Dashboard > Settings > API bölümünden alın
VITE_SUPABASE_URL=https://ltsooirdzyxuwltetmbe.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=sb_publishable_UZbtM8n0VOdFxhdrY32vMg_Wbv9u7F9

# Geliştirme ortamı için bu dosyayı .env olarak kopyalayın:
# cp .env.example .env
